.my_appeal{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    background-color:#ebebeb;
    justify-content: space-between;
}
.my_appeal_text{
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: -25px;
    max-height: 200px;
}
.my_appeal_circles{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    width:70%;
    height: 200px;
    align-items: center;
    margin: auto;
    z-index:1;
}
.my_appeal_circles_small{
    display: flex;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color:#ebebeb;
    margin-top: -15px;
}
@media(max-width: 800px){
.my_appeal_circles{
    visibility: hidden;
}
}